.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: center;
    height: 100dvh;
    min-height: 500px;

    .hero{
        max-width: 200px;
    }
    span{
        display: flex;
        gap: 25px;
        justify-content: center;
        a {
           margin: 0;
           img{
            width: 30px;
           } 
        }
    }
}